body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e1edf5;
  font-size: 16px;
  font-weight: 900;
  padding: 8px;
  margin: 0 auto;
}

.content {
  background: #e1edf5;
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  background: #e1edf5;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 8px 24px;
}